<!DOCTYPE html>
<html>

<body>

<h1>Single Photon Energy Calculator</h1>

<h2>Photoelectric Effect</h2>
<form method="POST">
    Wavelength (nm) : <input type="number" name="wavelength"><br>
    <input type="radio" name="material" value="1.9" checked> Cesium<br>
    <input type="radio" name="material" value="2.2"> Potassium<br>
    <input type="radio" name="material" value="2.3"> Sodium<br>
    <input type="submit">
    <p>Photon Energy : {{photo_energy}} eV</p>


</form>



</body>

</html>